body {
    background: #fcecd2;
    color:#000;
    font: 12px Open Sans, Arial, sans-serif, Georgia;
    max-width: 1300px;
    margin: 0 auto;

}

a, hr {
    color: #563518;
    text-decoration: none;
}

.container-fluid {
	overflow-x: hidden;
}

p {
	font-size: 16px;
}

h1 {
	padding: 55px 0 0 15px;
	font-weight: 600;
}

hr {
	margin-top: 0;
	margin-bottom: 10px;
	width: 100%;
	height: 1px;
}

figure img {
	width: 100%;
	height: 450px;
}

form h4 {
	margin-top: 0;
}

form p {
	font-size: 14px;
	margin-left: 0;
}

header{
	max-height: 165px;
	width: 960px;
	margin: 0 auto;
}

footer {
	max-height: 200px;
	width: 960px;
	margin: 0 auto;
	margin-top: 30px;
}

footer ul li a {
	text-decoration: none;
	font-size: 14px;
}

footer a:hover {
	text-decoration: none;
	color:#fff;
}

footer p {
	margin-top: 30px;
	margin-bottom: 30px;
}

footer address, footer p, .breadcrumbs {
	font-size: 14px;
}

.container-fluid {
	padding: 0;
}

.background_header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fee4b2+0,fee4b2+50,fcdca1+100 */
background: #fee4b2; /* Old browsers */
background: -moz-linear-gradient(top,  #fee4b2 0%, #fee4b2 50%, #fcdca1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee4b2), color-stop(50%,#fee4b2), color-stop(100%,#fcdca1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fee4b2 0%,#fee4b2 50%,#fcdca1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fee4b2 0%,#fee4b2 50%,#fcdca1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fee4b2 0%,#fee4b2 50%,#fcdca1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fee4b2 0%,#fee4b2 50%,#fcdca1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee4b2', endColorstr='#fcdca1',GradientType=0 ); /* IE6-9 */

}

.pic img {
	width: 1300px;
	overflow-x: hidden;
}

.aboutPic img {
	width: 200px;
	height: 450px;
}

.background_footer {
	background: #fee4b2; /* Old browsers */
}

.row {
	margin: 0 20px;
}

.material {
	margin: 50px 0;
}

.detailLabel label {
	padding-left: 0;
	font-size: 14px;
}

.detailLabel p {
	padding: 0;
}

.detailAddress {
	padding-left: 0;
}

.bWhite {
	background-color: #fff;
	margin: 0;
}

.block {
	min-height: 450px;
}

.side-bar {
	padding: 0;
	background-color: #C0E6E1;
	padding-bottom: 350px;
	padding-top: 20px;
	margin-top: 25px;
}

.side-bar a {
	font-size: 12px;
}

.side-bar li {

	padding: 10px 20px 0 15px;
}

.side-bar input, .side-bar em{
	margin-left: 20px;
}

.store, .list {
	padding-top: 50px;
	padding-bottom: 50px;
}

.items, .list, .line {
	padding-left: 0;
}

.items {
	padding-top: 25px;
}

.list {
	font-size: 14px;
}

.account {
	background-color: #fff;
	padding: 20px 0 100px 0;
}

.accountgroup {
	padding-bottom: 15px;
}

.social {
	float: right;
}

.social ul li a img{
	width: 30px;
	margin-top: 25px;
}

.account, .accountgroup, .topnav, .navbar ul, .login {
	margin: 0;
}

.topnav li {
	vertical-align: bottom;
}

.topnav li a {
	padding: 0 3px;
}

.navbar {
	float: left;
	font-size: 16px;
	font-weight: 700;
	margin: 120px 0 -20px 0;
}

.rightbar {
	position: relative;
	left: 140px;
	margin-top: 65px;
	
}

.navbar ul li {
	padding-left: 10px;
}

.navbar a {
	text-decoration: none;
	padding: 0 0 0 10px;
}

.navbar a:hover {
	color:#fff;
}

.cookie img {
	width: 140px;
	float: left;
	position: relative;
	left: 65px;
}

.bottomCookie {
	width: 110px;
}

.copyright, .treats {
	text-align: center;
}

.treats {
	display: block;
	margin: 0;
}

.treats li {
	padding: 0 20px;
}

.bgHomeGreen, .bgAboutGreen {
	background: #c0e6e1; /* Old browsers */
	min-height: 400px;
}

.bgAboutGreen, .bgWhite, .bgTan, .bgWhite-tan, .bgTan-white {
	min-height: 700px;
}

.bgHomeGreen ul {
	padding: 75px 0;
}

.bgWhite, .orderForm, .login {
	background-color: #fff;
}

nav img:hover {
	opacity: .6;
}

.navtop, .navbottom {
	max-width: 100%;
}

.navtop {
	padding-top: 75px;
}

.bgTan {
	background: #f7efe8; /* Old browsers */
}

.progress {
	width:800px;
	height: 100px;
	margin: 0 auto;
	background-color: transparent;
}

.orderForm h1 {
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

.centerform {
	margin: 0 auto;
	width: 960px;
}

.normalform {
	width: 600px;
}

.smallform {
	width: 325px;
}

.orderForm form {
	padding-bottom: 50px;
}

.about img, .menu img, .map img, .city img, .items img, .shopping img, .progress img {
	width: 100%;
}

.icon img {
	width: 200px;
	height: 200px;
}

.location address {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin-top: 100px;
}

.sign-in, .sign-up {
	margin-top: 50px;
	margin-bottom: 100px;
}

.shoppingcart {
	padding-bottom: 50px;
}

.box {
	padding-top: 50px;
}

.box p {
	font-size: 12px;
}

.itembox {
	padding: 20px;
}

.remove-padding {
	padding: 0;
}

.quantity {
	width: 50px;
	text-align: center;
	font-size: 14px;
}

.cartInfo {
	text-align: center;
	float: right;
}

.title {
      position: relative;
}

.accountLink {
	position: absolute;
    bottom: 0;
    right: 0;
}

.checkout {
	margin-top: 50px;
}

.accountgroup {
	margin-top: 25px;
}

/* Modal */

.modal img {
    width: 100%;
    padding-top: 20px;
}

#map {
	height: 100%;
}

.top-buffer { 
	margin-top:20px; 
}

.bottom-buffer { 
	margin-bottom:50px; 
}

.itemImage {
	width: 200px;
	height: 200px;
	margin: -20px 0 0 -50px;
}

.cartImage {
	width: 200px;
	height: 200px;
	margin-top: -50px;
}

/*animation element by Simon Codrington http://www.sitepoint.com/scroll-based-animations-jquery-css3/*/ 

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*animation slide left styled for testimonials*/

